collapsible-nav {
  border-bottom: 2px solid black;
  display: flex;
  width: 100%;
  & nav {
    margin: 0 0 0 auto;
    max-width: 1200px;
    padding: 1rem 2rem;
  }
  & ul {
    display: flex;
    gap: 1rem;
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }
  & a {
    color: black;
    display: block;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  & ul {
    background-color: azure;
    border-bottom: 2px solid black;
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  & button {
    position: relative;
    z-index: 1;
  }
  &[open] {
    & ul {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    nav {
      display: flex;
      flex-direction: row-reverse;
      margin: auto;
      padding: 0;
      width: 100%;
    }
    & ul {
      background-color: inherit;
      border: none;
      display: flex;
      flex-direction: row;
      position: relative;
    }
    button {
      display: none;
    }
  }
}
